<!-- extra page created to understand layout of ejs,
    just by seprating header and footer part in different .ejs file -->

<%- include('header'); -%>


<h1>
    This is a about page (created just as a example for layout poperty of 'ejs'
</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur mollitia assumenda laboriosam aliquid error nihil, aspernatur optio sint nam possimus necessitatibus voluptates dolores enim quisquam maxime fugit unde! Facere, incidunt?</p>

<%- include('footer'); -%>